.section__channel {
    padding-top: 8px;
    border-top: 1px solid #e1e1e1;
}

.section__channel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__channel-header > * {
    font-size: 13px;
    color: var(--gray400)
}
